<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.Citiy_idMapper">

<!-- int selectcitid(String Citiy); -->
<select id="selectcitid" resultType="Integer">

select Citiy_id from city where Citiy = #{Citiy};

</select>


<!-- List getAllCitiys(); -->

<select id="getAllCitiys" resultType="com.example.entity.Citiy_id">

select Citiy from city;

</select>

</mapper>